.nav {
    grid-area: nav;
    background-color: #13ce66;
    color: #fff;
}
.sideBar {
    list-style-type: none;
    margin: 0;
    padding: 20px;
}
.sideBar a{
    text-decoration: none;
}
.item a.activeLink {
    color: gold;
}